name: Lint Pull Request

on:
  pull_request:
    branches: [main]

jobs:
  lint:
    name: Lint and check formatting
    runs-on: ubuntu-latest
    timeout-minutes: 1
    if: ${{ github.actor != 'dependabot[bot]' }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.1

      - name: Install uv
        uses: astral-sh/setup-uv@v7.2.0

      - name: Install dependencies
        run: uv sync --quiet

      - name: Cache pre-commit hooks
        uses: actions/cache@v5.0.2
        with:
          path: ~/.cache/pre-commit
          # Generate a unique key based on the OS and the config file's hash
          key: ${{ runner.os }}-pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pre-commit-

      - name: Run pre-commit hooks
        run: uv run pre-commit run --all-files
